Intermediate/
Saved/
.vs/InfinityBlade/v15/.suo
InfinityBlade.sln
.vs/InfinityBlade/v15/Browse.VC.db
.vs/InfinityBlade/v15/Browse.VC.opendb
.vs/InfinityBlade/v15/ipch/AutoPCH/76fb68e2bb7ddb1f/STARTUSERWIDGET.ipch
